.App {
  text-align: center;
  margin: 0 2vw 5vw 2vw;
  /* width: 80vw; */
}
/* 
body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.navbar {
  display: flex;
  gap: 3vw;

}

.signup-btn {
  color: white !important;
}

#spinner {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

<<<<<<< HEAD
.cards-service-list {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3vw;
}
=======

>>>>>>> 3f8c7974b5c5d7f356ff73b83e43b580a06718d8

#footer {
  background-color: #2d6efd;
  position: fixed;
  width: 96vw;
  height: 5vh;
  color: white;
  padding-top: 1vh;
  margin-top: 20vh;
  bottom: 0;
}

Form {
  display: flex;
  flex-direction: column;
}

#form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  margin: 2vh 1vw 2vh 0;
  width: 500px;
}

.cardgroups {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.carouselCaption {
  background-color: aliceblue;

  opacity: 0.6;
}

.carouselCaption p {
  color: black;
  font-weight: 800;
}

.homeText{
  color: black;
  margin-top:50px;
  text-align: center;
  
}
