.App {
  text-align: center;
  margin-left: 2vw;
  margin-right: 2vw;
}

.navbar {
  display: flex;
  gap: 3vw;
}

.signup-btn {
  color: white !important;
}

#spinner{
  display:flex;
  justify-content: center;
  margin-top:50%
}

.cards-service-list {
margin-top: 5vh;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 3vw;
}


